.sp_header {
    width: 100%;
}
.sp_header img {
    width: 100%;
}
.pc_element {
    display:none;
}
#contentHeader {
    display:none;
}
#sidebar {
    display:none;
}
.sp_anker {
    width: 90%;
    margin: 30px 5% 0;
}
.sp_anker img {
    width: 100%;
}
#sp_ankers_wrap {
    width: 90%;
    margin: 15px 5% 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#sp_ankers_wrap .sp_anker_title {
    width: 100%;
    font-size: 24px;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 15px;
}
#sp_ankers_wrap .sp_anker_1 {
    width: 50%;
    font-size: 14px;
    margin-bottom: 15px;
}
#sp_ankers_wrap .sp_anker_2 {
    width: 50%;
    font-size: 14px;
    margin-bottom: 15px;
}
#sp_ankers_wrap .sp_anker_3 {
    width: 100%;
    font-size: 8px;
    margin-bottom: 15px;
}


#lineup {
  width: 100％;
}
#lineup h2 {
  display: none;
}
#lineup .product {
  border-bottom: 1px dotted #000;
  padding: 25px 0 30px;
}
#lineup .noline {
  border-bottom: none;
}
#lineup .product .pl {
    display: none;
}
#lineup .product .pr {
  width: 100%;
}
#lineup .product .pr h3 {
  font-size: 18px;
  line-height: 18px;
    width:100%;
    text-align: center;
    margin: 5px 0 20px;
}
#lineup .product .pr h3 span {
  font-size: 10px;
  display: block;
  font-weight: normal;
}
#lineup .product .pr p {
  font-size: 14px;
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  margin: 0;
    text-align: justify;
    margin-bottom: 20px;
}
#lineup .product .pr table {
  font-size: 14px;
    margin: 0 0;
}
#lineup .product .pr table th {
  width: 95px;
  font-weight: normal;
  text-align: left;
}

.message {
  display: none;
}
.centering {
  display: none;
}
.sp_footimg {
    margin-top: 10px;
}
.sp_btn {
    margin-top: 20px;
}

#lineup .pagetop {
  display: none;
}
a {
    color: #000;
}