.sp_header {
    width: 100%;
}
.sp_header img {
    width: 100%;
}
.pc_element {
    display:none;
}
#contentHeader {
    display:none;
}
#h2wrapper {
}
#h2wrapper h2 {
    font-size: 16px;
    margin: 30px 0 20px;
}


#m_01 {
  margin-top: 30px;
}
#m_01 i {
    display: none;
}
#m_01 .of img {
    display: none;
}
#m_01 h3 {
    margin: 30px 0 15px;
    font-size: 16px;
}
#m_01 p {
    text-align: justify;
    font-size: 14px;
}


#m_02 {
  margin-top: 30px;
}
#m_02 i {
    display: none;
}
#m_02 .of img {
    display: none;
}
#m_02 h3 {
    margin: 30px 0 15px;
    font-size: 16px;
}
#m_02 p {
    text-align: justify;
    font-size: 14px;
}


#m_03 {
  margin-top: 30px;
}
#m_03 i {
    display: none;
}
#m_03 .of img {
    display: none;
}
#m_03 h3 {
    margin: 30px 0 15px;
    font-size: 16px;
}
#m_03 p {
    text-align: justify;
    font-size: 14px;
}


#m_04 {
  margin-top: 30px;
}
#m_04 i {
    display: none;
}
#m_04 .of img {
    display: none;
}
#m_04 h3 {
    margin: 30px 0 15px;
    font-size: 16px;
}
#m_04 p {
    text-align: justify;
    font-size: 14px;
}


#m_05 {
  margin-top: 30px;
}
#m_05 i {
    display: none;
}
#m_05 .of img {
    display: none;
}
#m_05 h3 {
    margin: 30px 0 15px;
    font-size: 16px;
}
#m_05 p {
    text-align: justify;
    font-size: 14px;
}


#m_06 {
  margin-top: 30px;
}
#m_06 i {
    display: none;
}
#m_06 .of img {
    display: none;
}
#m_06 h3 {
    margin: 30px 0 15px;
    font-size: 16px;
}
#m_06 p {
    text-align: justify;
    font-size: 14px;
}


#m_07 {
  margin-top: 30px;
}
#m_07 i {
    display: none;
}
#m_07 .of img {
    display: none;
}
#m_07 h3 {
    margin: 30px 0 15px;
    font-size: 16px;
}
#m_07 p {
    text-align: justify;
    font-size: 14px;
}


.message {
    display: none;
}
