.PCon {
    display: inline-block;
}
.SPon {
    display:none;
}
#contentHeader img {
    width: 1064px;
    height: 500px;
    vertical-align: bottom;
}
#sidebar {
  width: 180px;
  margin-top: 70px;
  margin-right: 124px;
  background: url("/images/product/sb_border.png") no-repeat top center;
}
#sidebar #listnav {
  margin-bottom: 40px;
}
#sidebar #listnav h5 {
  height: 50px;
  line-height: 50px;
  padding-top: 7px;
  padding-left: 14px;
  font-size: 26px;
  font-weight: normal;
  border-bottom: 1px dotted #000;
}
#sidebar #listnav li {
  height: 50px;
  line-height: 50px;
  font-size: 15px;
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  border-bottom: 1px dotted #000;
}
#sidebar #listnav li a {
  display: block;
  color: #000;
  padding-left: 14px;
}
#sidebar #listnav li a span {
  padding-left: 14px;
  background: url("/images/product/list.gif") no-repeat left center;
}
#sidebar #listnav li a:hover {
  background: rgba(0,0,0,0.1);
}
#sidebar #listnav p {
  font-size: 12px;
  margin-top: 6px;
  font-family: Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
#sidebar #origin {
  text-align: center;
}
#sidebar #origin img {
  width: 132px;
  height: 180px;
}
#sidebar #origin h6 {
  font-size: 13px;
  border-bottom: 3px double #000;
}
#sidebar #origin p {
  font-size: 13px;
  margin-top: 4px;
  text-align: left;
}
.shoplist {
  width: 636px;
  margin-top: 50px;
}
.area__block {
    margin-bottom:40px;
}
.shoplist h2 {
    width: 636px;
    height: 100px;
    background-image: url("/images/store/d-line.png");
    background-repeat: no-repeat;
    font-size: 33px;
    font-weight: 700;
    font-family: 'Noto Serif JP', serif;
    letter-spacing: 0.3em;
    line-height: 100px;
}
.shoplist .product {
  padding: 50px 0 0;
    font-family: 'Noto Serif JP', serif;
}
.shoplist .product .shopname {
    width: 100%;
    float: left;
    padding-bottom: 10px
}
.shoplist .product .shopname h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
}
.shoplist .product .pl {
    float: left;
  width: 470px;
  padding-right: 16px;
    font-size: 16px;
    font-weight: 500;
}

.shoplist .product .pr {
    float: left;
  width: 150px;
    text-align: right;
    font-size: 16px;
    font-weight: 500;
}